.wufoo .info h2 {
    color: #c55555;
}
input.text, input.search, textarea.textarea {
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.09);
    border: 1px solid #E9E9E9 !important;
    background: #ffffff;
    padding: 0.6rem .4rem;
}